---
import Background from "../components/Background.astro";
import Timer from "../components/Timer.jsx";
import Layout from "../layouts/Layout.astro";
import getImage from "../utils/getImage";

const photo = await getImage();
---

<Layout title="Pomodoro">
  <Background photo={photo} />
  <div class="flex justify-center items-center h-screen">
    <Timer client:load />
  </div>
</Layout>
